---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { Image } from 'astro:assets';

import CYN1 from "../images/projectimages/Cynthias/CYN1.jpg"; 
import CYN2 from "../images/projectimages/Cynthias/CYN2.png"; 
import CYN3 from "../images/projectimages/Cynthias/CYN3.png"; 
import CYN4 from "../images/projectimages/Cynthias/CYN4.png"; 
import CYN5 from "../images/projectimages/Cynthias/CYN5.png"; 
import CYN6 from "../images/projectimages/Cynthias/CYN6.png"; 
import CYN7 from "../images/projectimages/Cynthias/CYN7.png"; 
import CYN8 from "../images/projectimages/Cynthias/CYN8.png"; 
import CYN9 from "../images/projectimages/Cynthias/CYN9.png"; 
import CYN10 from "../images/projectimages/Cynthias/CYN10.png"; 
import CYN11 from "../images/projectimages/Cynthias/CYN11.png"; 
import CYN12 from "../images/projectimages/Cynthias/CYN12.png"; 


---

<Layout title="Nathan Fellows Design: Cynthia's of Bend">

    <main>
        <Header></Header>
        <div class="project-header">
            <p class="title">CYNTHIA'S OF BEND BRAND IDENTITY</p>
            <p class="type">BRAND DESIGN</p>
            <p class="summary">As more and more people turn to an online shopping experience, a multi-generational sewing machine shop aims to shine through as a cornerstone of their local community.</p>
        
        </div>
        <div class="project-grid">
            <Image class="content test-1" src={CYN1} alt="SPREAD"></Image>
            <Image class="content test-2" src={CYN2} alt="SPREAD"></Image>
            <p class="sectionheader sh-1">01: LOGO SYSTEM <br><br> This flexible set of marks maintains a consistent shape language allowing for their usage to be cohesive regardless of application.</p>
            <Image class="content test-3" src={CYN3} alt="SPREAD"></Image>
            <Image class="content test-4" src={CYN4} alt="SPREAD"></Image>
            <Image class="content test-5" src={CYN5} alt="SPREAD"></Image>
            <Image class="content test-6" src={CYN6} alt="SPREAD"></Image>
            <p class="sectionheader sh-2">02: COLOR AND TYPE GUIDELINES <br><br> Brand elements such as the color palette draw inspiration from Central Oregon's natural landscape rooting the identity in Oregon.</p>
            <Image class="content test-7" src={CYN7} alt="SPREAD"></Image>
            <Image class="content test-8" src={CYN8} alt="SPREAD"></Image>
            <p class="sectionheader sh-3">03: PRINT EXAMPLES</p>
            <Image class="content test-9" src={CYN9} alt="SPREAD"></Image>
            <Image class="content test-10" src={CYN10} alt="SPREAD"></Image>
            <p class="sectionheader sh-4">04: WEB EXAMPLES</p>
            <Image class="content test-11" src={CYN11} alt="SPREAD"></Image>
            <Image class="content test-12" src={CYN12} alt="SPREAD"></Image>

        </div>
    </main>
    <Footer></Footer>
</Layout>
<style>
    main{
        color: #1170ff; 
    }
    .project-header{
        margin-top: 5vh;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-bottom: 3rem;
    }
    .title{
        font-size: 2.8rem;
        font-weight: 400;
    }
    .type{
        font-size: 1.3rem;
        font-weight: 200;
        margin-top: -2rem;
    }
    .summary{
        font-size: 1.3rem;
        font-weight: 200;
        max-width: 40vw;
    }
    .project-grid{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 40vw 10vw 40vw 40vw 12vw 40vw 5vw 40vw 5vw 40vw;
        column-gap: 2vw;
        row-gap: 2vw;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-bottom: 4vw;
    }
    .content{
        width: 40vw;
        height: auto;
    }
    .sectionheader{
        font-size: 1.3rem;
        font-weight: 200;
    }
    .test-1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .test-2{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .sh-1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .test-3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .test-4{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
      .test-5{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }
      .test-6{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
        .sh-2{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    }
        .test-7{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 6;
        grid-row-end: 6;
    }
      .test-8{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 6;
    }
        .sh-3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 7;
        grid-row-end: 7;
    }
        .test-9{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 8;
        grid-row-end: 8;
    }
        .test-10{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 8;
    }
        .sh-4{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 9;
        grid-row-end: 9;
    }
        .test-11{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 10;
        grid-row-end: 10;
    }
        .test-12{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 10;
    }
</style>