---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { Image } from 'astro:assets';

import DEL2 from "../images/projectimages/deliciously/DEL2.png";
import DEL3 from "../images/projectimages/deliciously/DEL3.png";
import DEL4 from "../images/projectimages/deliciously/DEL4.png";
import DEL5 from "../images/projectimages/deliciously/DEL5.png";
import DEL6 from "../images/projectimages/deliciously/DEL6.png";
import DEL7 from "../images/projectimages/deliciously/DEL7.png";

---

<Layout title="Nathan Fellows Design: Deliciously">

    <main>
        <Header></Header>
        <div class="project-header">
            <p class="title">FROM THE GROUND UP</p>
            <p class="type">BRAND DESIGN / UX DESIGN</p>
            <p class="summary">Deliciously is a recipe app start-up, built for both IOS and Android. Deliciously takes advantage of modern technologies to provide the best experience for both users and content creators.</p>
        
        </div>
        <div class="project-grid">
            <p class="sectionheader sh-1">01: FEATURED SCREENS <br><br> Designed for daily use. Layouts include simple shape and color choices for intuitive usage. </p>
            <Image class="content test-1" src={DEL4} alt="SPREAD"></Image>
            <Image class="content test-2" src={DEL5} alt="SPREAD"></Image>
            <p class="sectionheader sh-2">02: LOGO MARK AND SECONDARY MARKS</p>
            <Image class="content test-3" src={DEL2} alt="SPREAD"></Image>
            <Image class="content test-4" src={DEL3} alt="SPREAD"></Image>
            <p class="sectionheader sh-3">03: BRANDING ILLUSTRATIONS</p>
            <Image class="content test-5" src={DEL6} alt="SPREAD"></Image>
            <Image class="content test-6" src={DEL7} alt="SPREAD"></Image>
        </div>
    </main>
    <Footer></Footer>
</Layout>
<style>
    main{
        color: #1170ff; 
    }
    .project-header{
        margin-top: 5vh;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-bottom: 3rem;
    }
    .title{
        font-size: 2.8rem;
        font-weight: 400;
    }
    .type{
        font-size: 1.3rem;
        font-weight: 200;
        margin-top: -2rem;
    }
    .summary{
        font-size: 1.1rem;
        font-weight: 200;
        max-width: 40vw;
    }
    .project-grid{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 5vw 40vw 5vw 40vw 5vw 40vw;
        column-gap: 2vw;
        row-gap: 2vw;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-bottom: 4vw;
    }
    .content{
        width: 40vw;
        height: auto;
    }
    .sectionheader{
        font-size: 1.3rem;
        font-weight: 200;
    }
    .sh-1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .test-1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .test-2{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .sh-2{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .test-3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .test-4{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .sh-3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .test-5{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 6;
        grid-row-end: 6;
    }
    .test-6{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 6;
    }
</style>