---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { Image } from 'astro:assets';

import Other1 from "../images/projectimages/Other/Other1.jpg";
import Other2 from "../images/projectimages/Other/Other2.jpg";
import OTHSH from "../images/projectimages/Other/SH2.jpg";
import OTHSS from "../images/projectimages/Other/SS2.jpg";
import OTHAE from "../images/projectimages/Other/AE.jpg";
import MM1 from "../images/projectimages/Other/MM1.png";
import MM2 from "../images/projectimages/Other/MM2.png";
import MM3 from "../images/projectimages/Other/MM3.png";
import MM4 from "../images/projectimages/Other/MM4.png";
import MM5 from "../images/projectimages/Other/MM5.png";
import MM6 from "../images/projectimages/Other/MM6.png";
import MM7 from "../images/projectimages/Other/MM7.png";


---

<Layout title="Nathan Fellows Design: Other Work">

    <main>
        <Header></Header>
        <div class="project-header">
            <p class="title">OTHER WORK</p>
            <p class="type">LOGO DESIGN / LAYOUT DESIGN / ILLUSTRATION</p>
            <p class="summary">Here is a collection of other projects that I wanted to include.</p>
        
        </div>
        <div class="project-grid">
            <p class="sectionheader sh-1">01: POSTERS</p>
            <Image class="content test-1" src={Other1} alt="SPREAD"></Image>
            <Image class="content test-2" src={Other2} alt="SPREAD"></Image>
            <p class="sectionheader sh-2">02: PLAYER LAYOUTS</p>
            <Image class="content test-3" src={OTHSH} alt="SPREAD"></Image>
            <Image class="content test-4" src={OTHSS} alt="SPREAD"></Image>
            <Image class="content test-5" src={OTHAE} alt="SPREAD"></Image>
            <p class="sectionheader sh-3">03: MYTHS & MONSTERS ILLUSTRATIONS</p>
            <Image class="content test-6" src={MM1} alt="SPREAD"></Image>
            <Image class="content test-7" src={MM2} alt="SPREAD"></Image>
            <Image class="content test-8" src={MM3} alt="SPREAD"></Image>
            <Image class="content test-9" src={MM4} alt="SPREAD"></Image>
            <Image class="content test-10" src={MM5} alt="SPREAD"></Image>
            <Image class="content test-11" src={MM6} alt="SPREAD"></Image>
            <Image class="content test-12" src={MM7} alt="SPREAD"></Image>

        </div>
    </main>
    <Footer></Footer>
</Layout>
<style>
    main{
        color: #1170ff; 
    }
    .project-header{
        margin-top: 5vh;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-bottom: 3rem;
    }
    .title{
        font-size: 2.8rem;
        font-weight: 400;
    }
    .type{
        font-size: 1.3rem;
        font-weight: 200;
        margin-top: -2rem;
    }
    .summary{
        font-size: 1.1rem;
        font-weight: 200;
        max-width: 40vw;
    }
    .project-grid{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 5vw 40vw 5vw 23vw 23vw 5vw 40vw 40vw 40vw 40vw;
        column-gap: 2vw;
        row-gap: 2vw;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-bottom: 4vw;
    }
     .content{
        width: 40vw;
        height: auto;
    }
    .sectionheader{
        font-size: 1.3rem;
        font-weight: 200;
    }
    .sh-1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .test-1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .test-2{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .sh-2{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .test-3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .test-4{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .test-5{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .sh-3{
         grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 6;
        grid-row-end: 6;
    }
    .test-6{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 7;
        grid-row-end: 7;
    }
    .test-7{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 7;
    }
    .test-8{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 8;
        grid-row-end: 8;
    }
    .test-9{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 8;
    }
    .test-10{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 9;
        grid-row-end: 9;
    }
    .test-11{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 9;
        grid-row-end: 9;
    }
    .test-12{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 10;
        grid-row-end: 10;
    }
</style>