---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { Image } from 'astro:assets';
import RISE1 from "../images/projectimages/Rise/rise1.jpg"; 
import RISE2 from "../images/projectimages/Rise/RISE2.png"; 
import RISE3 from "../images/projectimages/Rise/RISE3.png"; 
import RISE4 from "../images/projectimages/Rise/RISE4.png"; 
import RISE5 from "../images/projectimages/Rise/RISE5.png"; 
import RISE6 from "../images/projectimages/Rise/RISE6.png"; 
import RISE7 from "../images/projectimages/Rise/RISE7.png"; 
import RP1 from "../images/projectimages/Rise/RP1.jpg"; 
import RP2 from "../images/projectimages/Rise/RP2.jpg"; 
import RP3 from "../images/projectimages/Rise/RP3.jpg"; 
import RP4 from "../images/projectimages/Rise/RP4.jpg"; 
import RP5 from "../images/projectimages/Rise/RP5.jpg"; 
---

<Layout title="Nathan Fellows Design: RISE">

    <main>
        <Header></Header>
        <div class="project-header">
            <p class="title">RISE: SOURDOUGH IN OREGON</p>
            <p class="type">LAYOUT DESIGN</p>
            <p class="summary">RISE is an exploration of sourdough bread throughout Oregon. It showcases bakeries across the state and demonstrates the sourdough process. This book includes sparse experimental layouts paired with bright and airy imagery. </p>
        
        </div>
        <div class="project-grid">
            <Image class="content test-1" src={RISE1} alt="SPREAD"></Image>
            <Image class="content test-2" src={RP2} alt="SPREAD"></Image>
            <p class="sectionheader sh-1">01: FEATURED SPREADS</p>
            <Image class="content test-3" src={RISE2} alt="SPREAD"></Image>
            <Image class="content test-4" src={RISE3} alt="SPREAD"></Image>
            <Image class="content test-5" src={RISE4} alt="SPREAD"></Image>
            <Image class="content test-6" src={RISE5} alt="SPREAD"></Image>
            <Image class="content test-7" src={RISE6} alt="SPREAD"></Image>
            <Image class="content test-8" src={RISE7} alt="SPREAD"></Image>
            <p class="sectionheader sh-2">02: PROJECT PHOTOGRAPHY</p>
            <Image class="content test-9" src={RP1} alt="SPREAD"></Image>
            <Image class="content test-10" src={RP5} alt="SPREAD"></Image>
            <Image class="content test-11" src={RP3} alt="SPREAD"></Image>
            <Image class="content test-12" src={RP4} alt="SPREAD"></Image>
        </div>
    </main>
    <Footer></Footer>
</Layout>
<style>
    main{
        color: #1170ff; 
    }
    .project-header{
        margin-top: 5vh;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-bottom: 3rem;
    }
    .title{
        font-size: 2.8rem;
        font-weight: 400;
    }
    .type{
        font-size: 1.3rem;
        font-weight: 200;
        margin-top: -2rem;
    }
    .summary{
        font-size: 1.1rem;
        font-weight: 200;
        max-width: 40vw;
    }
    .project-grid{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 40vw 5vw 40vw 40vw 40vw 5vw 40vw 40vw;
        column-gap: 2vw;
        row-gap: 2vw;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-bottom: 4vw;
    }
    .content{
        width: 40vw;
        height: auto;
    }
     .sectionheader{
        font-size: 1.3rem;
        font-weight: 200;
    }
    .test-1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .test-2{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .sh-1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .test-3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .test-4{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .test-5{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .test-6{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .test-7{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .test-8{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .sh-2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 6;
    }
    .test-9{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 7;
        grid-row-end: 7;
    }
    .test-10{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 7;
    }
    .test-11{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 8;
        grid-row-end: 8;
    }
    .test-12{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 8;
    }
</style>