<Layout title="Nathan Fellows Design: Other Work">
    <Header></Header>
    <main>
        <div class="start-container">
	        <div class="header-content">
		        <h1 class="title">OTHER WORK</h1>
		        <div class="subtitle-container"> <p>ASSORTED</p> <p>PROJECTS</p></div>
		        <hr class="line">
		        <p class="summary">Here is a collection of other smaller projects that I wanted to include.</p>
	        </div>
        </div>
		<div class="container">
	        <div class="content">
                <Image class="replace" src={OW1} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="1.1 Myth's and Monsters - Vector Illustrations" summary="Set of vector illustrations, depicting creatures from greek mythology."></CaseStudyImageSec>
				<Image class="replace-tall" src={OW3} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="2.1 The Hay Loft - Poster Design" summary="Illustrative poster design, taking inspiration from the natural landscapes of central Oregon. "></CaseStudyImageSec>
				<Image class="replace-tall" src={B1} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="3.1 Jacaranda Supper Club - Poster Design" summary="Poster design for a supper club event, featuring simple paper cut-out inspired vector illustrations."></CaseStudyImageSec>
				<Image class="replace" src={B2} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="3.2 Jacaranda Supper Club - Social Media Post" summary="Matching social media post."></CaseStudyImageSec>
				<Image class="replace" src={OW2} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="4.1 Table Top RPG - Logo Design" summary="Simple emblamatic logo mark, ispired by fantasy elements for a table top RPG project."></CaseStudyImageSec>
	        </div>
        </div>
    </main>
    <Footer></Footer>
</Layout>

---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CaseStudyImageSec from "../components/CaseStudyImageSec.astro";

import { Image } from 'astro:assets';

import D1 from "../images/projectimages/Deliciously/D1.png";
import D2 from "../images/projectimages/Deliciously/D2.png";
import D3 from "../images/projectimages/Deliciously/D3.png";
import D4 from "../images/projectimages/Deliciously/D4.png";
import D5 from "../images/projectimages/Deliciously/D5.png";
---

<Layout title="Nathan Fellows Design: Deliciously">
    <main>
    <Header></Header>
        <div class="start-container">
	        <div class="header-content">
		        <h1 class="title">FROM THE GROUND UP</h1>
		        <div class="subtitle-container"> <p>BRANDING / UX DESIGNER</p> <p>DELICIOUSLY</p></div>
		        <hr class="line">
		        <p class="summary">Deliciously is a recipe app start-up, built for both IOS and Android. Deliciously takes advantage of modern technologies to provide the best experience for both users and content creators.</p>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <Image class="replace" src={D1} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="1.1 LOGO MARK" summary="The Deliciously logo mark incorporates multiple visual elements into a simplified mark."></CaseStudyImageSec>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <Image class="replace" src={D2} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="1.2 SET OF MARKS" summary=""></CaseStudyImageSec>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <Image class="replace" src={D3} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="2.1 MAIN PAGES SCREENS" summary="Designed with daily use in mind. Page layouts include simple shape and color choices leading to a quick and intuitive usage."></CaseStudyImageSec>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <Image class="replace" src={D4} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="2.2 SHOPPING LIST FLOW SCREENS" summary=""></CaseStudyImageSec>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <Image class="replace" src={D5} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="3.1 BRANDING ILLUSTRATIONS" summary="Small illustrations used as additional branding elements, which incorporate a singular style and brand colors."></CaseStudyImageSec>
	        </div>
        </div>
    </main>
    <Footer></Footer>
</Layout>


---

<Layout title="Nathan Fellows Design: Cynthia's of Bend">
    <main>
    <Header></Header>
        <div class="start-container">
	        <div class="header-content">
		        <h1 class="title">A LOCAL CLASSIC</h1>
		        <div class="subtitle-container"> <p>BRANDING DESIGNER</p> <p>CYNTHIA'S OF BEND</p></div>
		        <hr class="line">
		        <p class="summary">As more and more people turn to an online shopping experience, a multi-generational sewing machine shop aims to shine through as a cornerstone of their local community.</p>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <CaseStudySecTitle title="A MODERN APPROACH" summary="Going a new direction gives Cynthia’s of Bend an opportunity to adopt a more functional and representational brand identity. Building on their current appeal, while providing a more cohesive brand system."></CaseStudySecTitle>
                <Image class="replace" src={COB1} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="1.1 OLD LOGO MARK / NEW LOGO MARK" summary="Familiar visual and type elements are made into a new logo mark with an emblematic approach. Giving the mark more gravitas and further incorporating the brand’s history into it's identity."></CaseStudyImageSec>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <Image class="replace" src={COB2} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="1.2 - LOGO MARK SET" summary="This flexible set of marks maintains a consistent shape language allowing for their usage to be cohesive regardless of application."></CaseStudyImageSec>
                 <Image class="replace" src={C2} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="1.3 - MACHINE TAG TYPE USAGE EXAMPLE" summary="Cynthia’s is equipped with a lightweight type system that focuses on versatility and uniformity. Limiting font usage to specific weight groupings of a singular font family, Poppins. "></CaseStudyImageSec>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <CaseStudySecTitle title="ROOTED IN THE COMMUNITY" summary="Elements of the Brand are drawn from Central Oregon's Beautiful landscape and the iconic imagery of sewing. "></CaseStudySecTitle>
                <Image class="replace" src={COB3} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="2.1 BRAND COLOR PALETTE" summary="Color palette built upon natural elements of Central Oregon, resulting in a set of calming earthtones. "></CaseStudyImageSec>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <Image class="replace" src={COB4} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="2.2 OTHER BRAND ELEMENTS" summary="Other brand elements take inspiration from the sewing process, including layering, color blocking, and stitched thread motifs."></CaseStudyImageSec>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <Image class="replace" src={COB5} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="2.3 VOICE" summary="Deliverables should maintain a clear, concise, and friendly tone throughout all copy. The goal of all communications should be to make the customer’s experience go as smoothly as possible."></CaseStudyImageSec>
	        </div>
        </div>
        <div class="container">
	        <div class="content">
                <Image class="replace" src={COB6} alt="Nathan Fellows logo"></Image>
                <CaseStudyImageSec tag="2.4 IMAGERY" summary="All imagery used should have a naturalistic feel opposed to the corporate imagery often used in the industry, matching the tone of the overall voice."></CaseStudyImageSec>
	        </div>
        </div>


    </main>
    <Footer></Footer>
</Layout>

---

<Layout title="Nathan Fellows Design: United Way">
        <main>
			<Header></Header>
            <div class="start-container">
                <div class="header-content">
		            <h1 class="title">CASCADES TO COAST</h1>
		            <div class="subtitle-container"> <p>BRANDING / INFOGRAPHICS</p> <p>UNITED WAY</p></div>
		            <hr class="line">
		            <p class="summary">Working alongside United Way of Linn, Benton, & Lincoln Counties, our small team expanded on the existing United Way branding to elevate our local chapter.</p>
	            </div>
            </div>
			<div class="container">
	        	<div class="content">
                	<CaseStudySecTitle title="BUILT FOR THE COMMUNITY" summary="The work United Way does is intrinsically linked with their community, we developed additional brand elements to serve that community while staying true to United Way's core branding guidelines."></CaseStudySecTitle>
                	<Image class="replace" src={UW1} alt="Nathan Fellows logo"></Image>
                	<CaseStudyImageSec tag="1.1 FRONT AND BACK COVERS - INVESTMENT BROCHURE" summary="The secondary color palette developed for use on all community facing deliverables, refrences natural elements specific to each county served."></CaseStudyImageSec>
	       		</div>
        	</div>
			<div class="container">
	        	<div class="content">
                	<Image class="replace" src={UW2} alt="Nathan Fellows logo"></Image>
                	<CaseStudyImageSec tag="1.2 MAIN SPREAD - INVESTMENT BROCURE" summary="Playful illustrations and community specific infographics allowed for easy and purposeful engament."></CaseStudyImageSec>
	       		</div>
        	</div>
			<div class="container">
	        	<div class="content">
                	<Image class="replace" src={UW3} alt="Nathan Fellows logo"></Image>
                	<CaseStudyImageSec tag="2.1 DONATION SHEET" summary="Straight forward layouts paired with the developed assets maintains a cohesive visual language no matter the use case."></CaseStudyImageSec>
	       		</div>	   
        	</div>
			<div class="container">
	        	<div class="content">
                	<Image class="replace" src={UW4} alt="Nathan Fellows logo"></Image>
                	<CaseStudyImageSec tag="3.1 BRAND STANDARDS & GUIDELINES" summary=""></CaseStudyImageSec>
	       		</div>
        	</div>
			<div class="container">
	        	<div class="content">
                	<Image class="replace" src={UW5} alt="Nathan Fellows logo"></Image>
                	<CaseStudyImageSec tag="3.2 BRAND STANDARDS & GUIDELINES CONT." summary=""></CaseStudyImageSec>
	       		</div>
        	</div>
			<div class="container">
	        	<div class="content">
                	<Image class="replace" src={UW6} alt="Nathan Fellows logo"></Image>
                	<CaseStudyImageSec tag="3.3 BRAND STANDARDS & GUIDELINES CONT." summary=""></CaseStudyImageSec>
	       		</div>
        	</div>
			<div class="container">
	        	<div class="content">
                	<Image class="replace" src={UW7} alt="Nathan Fellows logo"></Image>
                	<CaseStudyImageSec tag="3.4 BRAND STANDARDS & GUIDELINES CONT." summary=""></CaseStudyImageSec>
	       		</div>
        	</div>
        </main>
    <Footer></Footer>
</Layout>


---

<Layout title="Nathan Fellows Design: RISE">
        <main>
            <Header></Header>
            <div class="start-container">
                <div class="header-content">
		            <h1 class="title">SOURDOUGH IN OREGON</h1>
		            <div class="subtitle-container"> <p>LAYOUT DESIGNER</p> <p>PERSONAL PROJECT</p></div>
		            <hr class="line">
		            <p class="summary">RISE is an exploration of sourdough bread throughout Oregon. It showcases bakeries across the state and demonstrates the sourdough process. <br><br> This book includes sparse and airy layouts, as well as light imagery. All to invoke similar elements present within bread itself. </p>
	            </div>
            </div>
            <div class="container">
	        <div class="content">
                <Image class="replace" src={R1} alt="Nathan Fellows logo"></Image>
                <Image class="replace" src={R2} alt="Nathan Fellows logo"></Image>
				<Image class="replace" src={R3} alt="Nathan Fellows logo"></Image>
                <Image class="replace" src={R4} alt="Nathan Fellows logo"></Image>
				<Image class="replace" src={R5} alt="Nathan Fellows logo"></Image>
                <Image class="replace" src={R6} alt="Nathan Fellows logo"></Image>
				<Image class="replace" src={R7} alt="Nathan Fellows logo"></Image>
                <Image class="replace" src={R8} alt="Nathan Fellows logo"></Image>
				<Image class="replace" src={R9} alt="Nathan Fellows logo"></Image>
                <Image class="replace" src={R10} alt="Nathan Fellows logo"></Image>
				<Image class="replace" src={R11} alt="Nathan Fellows logo"></Image>
                <Image class="replace" src={R12} alt="Nathan Fellows logo"></Image>
				 <Image class="replace" src={R13} alt="Nathan Fellows logo"></Image>
                <Image class="replace" src={R14} alt="Nathan Fellows logo"></Image>
				<Image class="replace" src={R15} alt="Nathan Fellows logo"></Image>
                <Image class="replace" src={R16} alt="Nathan Fellows logo"></Image>
				<Image class="replace" src={R17} alt="Nathan Fellows logo"></Image>
                <Image class="replace" src={R18} alt="Nathan Fellows logo"></Image>
				<Image class="replace" src={R19} alt="Nathan Fellows logo"></Image>
                <Image class="replace" src={R20} alt="Nathan Fellows logo"></Image>
				<Image class="replace" src={R21} alt="Nathan Fellows logo"></Image>                
	        </div>
        </div>
        </main>
    <Footer></Footer>
</Layout>