---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { Image } from 'astro:assets';

import UNITED1 from "../images/projectimages/Unitedway/UNITED1.jpg"; 
import UNITED2 from "../images/projectimages/Unitedway/UNITED2.jpg"; 
import UNITED32 from "../images/projectimages/Unitedway/UNITED32.jpg"; 
import UNITED42 from "../images/projectimages/Unitedway/UNITED42.jpg";
import UNITED4 from "../images/projectimages/Unitedway/UNITED4.png"; 
import UNITED5 from "../images/projectimages/Unitedway/UNITED5.png"; 

---

<Layout title="Nathan Fellows Design: United Way">

    <main>
        <Header></Header>
        <div class="project-header">
            <p class="title">CASCADES TO COAST</p>
            <p class="type">BRAND DESIGN / INFOGRAPHICS</p>
            <p class="summary">Working alongside United Way of Linn, Benton, & Lincoln Counties, our small team expanded on the existing United Way branding to elevate our local chapter.</p>
        
        </div>
        <div class="project-grid">
            <Image class="content test-1" src={UNITED1} alt="SPREAD"></Image>
            <Image class="content test-2" src={UNITED2} alt="SPREAD"></Image>
            <Image class="content test-3" src={UNITED32} alt="SPREAD"></Image>
            <Image class="content test-4" src={UNITED42} alt="SPREAD"></Image>
            <Image class="content test-5" src={UNITED5} alt="SPREAD"></Image>
            <Image class="content test-6" src={UNITED4} alt="SPREAD"></Image>
        </div>
    </main>
    <Footer></Footer>
</Layout>
<style>
    main{
        color: #1170ff; 
    }
    .project-header{
        margin-top: 5vh;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-bottom: 3rem;
    }
    .title{
        font-size: 2.8rem;
        font-weight: 400;
    }
    .type{
        font-size: 1.3rem;
        font-weight: 200;
        margin-top: -2rem;
    }
    .summary{
        font-size: 1.1rem;
        font-weight: 200;
        max-width: 40vw;
    }
    .project-grid{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 40vw 40vw 40vw;
        column-gap: 2vw;
        row-gap: 2vw;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-bottom: 4vw;
    }
    .content{
        width: 40vw;
        height: auto;
    }
    .sectionheader{
        font-size: 1.3rem;
        font-weight: 200;
    }
    .test-1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .test-2{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .test-3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .test-4{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .test-5{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
        }
    .test-6{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
</style>